%h1= "Messages App"

%br
  %h2= "Messages (Newest first)"
  - @messages.each_with_index do |message, index|
    %p= "#{index + 1}. #{message.body}"

%br
  %h2= "Hashtags (Most frequently used)"
  - @hashtags.each do |tag, count|
    %p= "#{tag} (#{count})"
